*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

nav {
  background-color: mediumpurple;
}

section.first {
  background-color: tomato;
}

section.second {
  background-color: lightgreen;
}

section.third {
  background-color: steelblue;
}

section.fourth {
  background-color: orange;
}

section.fifth {
  background-color: seagreen;
}

section.sixth {
  background-color: cyan;
}

nav, section {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
}

@media only screen and (max-width: 599px) {

  nav {
    float: left;
    width: 100vw;
    height: 75px;
  }

  section {
    float: left;
    width: 100vw;
    height: 30vh;
    margin-top: 1vh;
  }

}

@media only screen and (min-width: 600px) {

  body {
    display: flex;
    flex-wrap: wrap;
  }

  nav {
    float: left;
    width: 100vw;
    height: 75px;
    margin-bottom: 1vh;
  }

  .wrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  section {
    min-width: 48%;
    height: 30vh;
    margin-bottom: 1vh;

  }

}

@media only screen and (min-width: 1150px) {

  nav {
    float: left;
    width: 100vw;
    height: 10vh;
  }

  .wrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  section {
    min-width: 31%;
    height: 30vh;
    margin-bottom: 1vh;

  }

}
